<?xml version="1.0"?>
<!--launches NICO ROS capabilities, MoveIt! and kinematics server for the simulated NICO-->
<launch>

  <include file="$(find nicoros)/launch/nicoros.launch" />
  <include file="$(find moveitgenerated)/launch/move_group.launch" />
  <include file="$(find kinematics)/launch/kinematics_server.launch" />

</launch>
