<launch>
  <arg name="mode" default="right"/>
  <!-- cameras are autodetected when not set
  <arg name="device-left" default="usb-e-con_systems_See3CAM_CU135_09229807-video-index0"/>
  <arg name="device-right" default="usb-e-con_systems_See3CAM_CU135_36249807-video-index0"/>
  -->
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="framerate" default="30"/>
  <!-- these are already set in settings file
  <arg name="zoom" default="0"/>
  <arg name="pan" default="0"/>
  <arg name="tilt" default="0"/>
  -->
  <arg name="zoom" default="150"/>
  <arg name="tilt" default="-482400"/>
  <!-- File path relative to NICO-software directory-->
  <!-- <arg name="settings-file" default="None"/> -->
  <!-- <arg name="setting" default="standard"/> -->
  <arg name="rostopic-prefix" default=""/>
  <arg name="rostopic-left" default="/left_eye_cam/image_raw"/>
  <arg name="rostopic-right" default="/right_eye_cam/image_raw"/>

  <node name="nicovision" pkg="nicoros" type="Vision.py"
    args="--mode='$(arg mode)'
    --width='$(arg width)'
    --height='$(arg height)'
    --framerate='$(arg framerate)'
    --zoom='$(arg zoom)'
    --tilt='$(arg tilt)'
    --rostopic-prefix='$(arg rostopic-prefix)'
    --rostopic-left='$(arg rostopic-left)'
    --rostopic-right='$(arg rostopic-right)'"/>
</launch>
