<?xml version="1.0"?>
<!--launches a left and right camera addressing them with their serial-->
<launch>
  <!--serials of left and right camera-->
  <arg name="serialL"/>
  <arg name="serialR"/>
  <!--launch left camera-->
  <include file="$(find nicoros)/camera.launch">
    <arg name="name" value="left"/>
    <arg name="serial" value="$(arg serialL)"/>
  </include>
  <!--launch right camera-->
  <include file="$(find nicoros)/camera.launch">
    <arg name="name" value="right"/>
    <arg name="serial" value="$(arg serialR)"/>
  </include>
</launch>
